* { margin: 0; padding: 0;}

body {
	width: 1020px;
	height: 700px;
	margin: 0 auto;
	padding-top: 75px;
	font-family: calibri;
	background: #DDD;
	
}

.col-viewport{
	overflow: hidden;
	position: relative;
}

.col-game {
	background-image: url(bg.png);
	background-repeat: repeat-x;
	border: 0;
	left:0;
	display:block;
	width: 10000px;
	height: 500px;
}

.col-game:active, .col-game:focus{
	outline: 0;
}

.col-player{
	position: absolute;
	width: 15px;
	height: 25px;
	bottom: 0;
	left: 40px;
	background-image: url(player.png);
	background-size: cover;
}

.col-platform{
	height: 1px;
	border-bottom: 1px solid gray;
}





.debug{
	margin-top: 20px;
	background: black;
	padding: 10px;
	font-size: 12px;
	color: white;
}